<?xml version="1.0"?>
<robot name="workpiece">
  <link name="workpiece_origin">
    <visual>
      	<geometry>
          	<mesh filename="package://process_visualizer/resources/workpiece.stl"
                scale="1 1 1"/>
      	</geometry>
	  	<material name="ABS" >
          	<color rgba="0.11 0.54 0.76 1.0" />
         </material> 	
    </visual>
    <!-- <collision>
      	<geometry>
          	<mesh filename="package://process_visualizer/resources/workpiece.stl"
                scale="1 1 1"/>
      	</geometry>
	  	<material name="ABS" >
          	<color rgba="0.11 0.54 0.76 1.0" />
         </material> 	
    </collision> -->
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
  </link>

    <link name="world"/>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="workpiece_origin"/>
  </joint>

  <gazebo reference="workpiece_origin">
    <material>Gazebo/Blue</material>
  </gazebo>


</robot>