<launch>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find process_visualizer)/rviz/setup.rviz" required="true"/>


<!-- <include file="$(find process_visualizer)/launch/abb_robot_1.launch"> 
    </include>

<include file="$(find process_visualizer)/launch/abb_robot_2.launch"> 
    </include> -->

<include file="$(find process_visualizer)/launch/abb_robot_3.launch"> 
    </include>

<!-- <include file="$(find abb_irb1200_gazebo)/launch/irb1200_5_90_gazebo.launch"> 
    </include> -->

</launch>