<launch>

  <include file="$(find ur5_planning)/launch/ur5_robot1_planning.launch"/>

  <include file="$(find ur5_planning)/launch/ur5_robot2_planning.launch"/>

  <include file="$(find ur5_planning)/launch/ur10_planning.launch"/>


  <include file="$(find coordinator)/launch/coordinator.launch"/>

<!--Node to spawn workpieces-->
  <node name="workpiece_handler" pkg="process_visualizer" type="workpiece_handler" output="screen"/>


</launch>
